*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;             
}

.header{
    display:flex;
    width:1800px;
    margin:auto;
    border-radius:0px 0px 20px 20px;
    background-color:rgb(171, 198, 223);
}
a {
    color: white;
}
.home{
    font-size:25px;
    line-height:60px;
    height:20%;
    margin-left:100px;
}

.nav{
    font-size:22px;
    width:1500px;
    height:60px;
    justify-content:flex-end;
    line-height:60px;
    display:flex;
}

.nav > li{
    margin-left:130px;
}
.body1{
    height:70%;
    width:100%;
}
.img {
    margin-top:15px;
    text-align:center;
}
.footer{
    height:10%;
    width:100%;
}
.HT{
    margin-left:60px;
    margin-top:20px;
}
.content1:hover {
    box-shadow: 0 0 5px black;
}
.content2:hover {
    box-shadow: 0 0 5px black;
}
.content3:hover {
    box-shadow: 0 0 5px black;   
}
.content4:hover {
    box-shadow: 0 0 5px black;   
}
.content {
    text-align:center;
}
.content1{
    margin-left:30px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 
                0 0px 5px rgba(0,0,0,0.12), 
                0 0px 5px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color:white;
    width:650px;
    height:350px;
}
.content2{
    margin-left:40px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 
                0 0px 5px rgba(0,0,0,0.12), 
                0 0px 5px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color:white;
    width:450px;
    height:350px;
}
.content3{
    margin-left:40px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 
                0 0px 5px rgba(0,0,0,0.12), 
                0 0px 5px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color:white;
    width:450px;
    height:350px;
}
.content4{
    margin-left:30px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 
                0 0px 5px rgba(0,0,0,0.12), 
                0 0px 5px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color:white;
    width:650px;
    height:350px;
}
.content5{
    margin-left:40px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 
                0 0px 5px rgba(0,0,0,0.12), 
                0 0px 5px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color:white;
    width:450px;
    height:350px;
}
.content6{
    margin-left:40px;
    margin-top:10px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.08), 
                0 0px 5px rgba(0,0,0,0.12), 
                0 0px 5px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
    background-color:white;
    width:450px;
    height:350px;
}
